body{
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.grid {
	width: 606px;
	height: 606px;
	border: solid red 3px;
	display: flex;
	flex-wrap: wrap;
	background-image: url("/Images/spaceBg2.png");
	z-index: -1;
	background-repeat: no-repeat;
	background-size: cover;
}

.grid div{
     width: 40px;
     height: 40px;
}

.invader{
     background-image: url("/Images/alienInvaders.png");
     background-repeat: no-repeat;
	background-size: cover;
}

.shooter{
	background-image: url("/Images/spaceship.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.laser{
	background-image: url("/Images/laser.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.boom{
	background-image: url("/Images/explosion.png");
	background-repeat: no-repeat;
	background-size: cover;
}